<div class="apply-card">
<% raise %>
<% if params[:notice] %>
  <h4>
    Already applied
  </h4>
  <% else %>
  <button data-toggle="modal" class="btn btn-apply" data-target="#apply">Apply</button>
  <%= render partial: "apply_modal", locals: { program: program } %>
<% end %>
  <ul>
    <li>
      <h4>
        #<%= @program.ranking %>
      </h4>
      <strong>
        Ranking
      </strong>
    </li>
    <li>
    <h4>
        <%= @program.subject %>
      </h4>
      <strong>
        Subject
      </strong>
    </li>
    <li>
    <h4>
        <%= @program.tuition %>$
    </h4>
      <strong>
        Tuition Fees
      </strong>
    </li>
    <li>
    <h4>
        <%= @program.scholarship %>$
    </h4>
      <strong>
        Scholarship Opportunities
      </strong>
    </li>
  </ul>
</div>

