
<ul>
  <li>
    <%= @program.title %>
    </li>
    <%= @program.subject %>
    <%= @program.ranking %>
    <%= @program.tuition %>
    <%= @program.title %>
    <%= @program.scholarship %>
    <%= @program.university.name %>
    <%= @program.university.images %>
</ul>
