<div class="text-center">



  <h1><b><%= @program.title %></h1></b>
  <h2><%= @program.university.name %></h2>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <h3><b>Subject</b>
        <br>
        <%= @program.subject %> </h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <h3><b>Ranking </b>
          <br>
          #<%= @program.ranking %> </h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <h3><b>Tuition Fees</b>
            <br>
            <%= @program.tuition %>$ </h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <h3><b>Scholarship Opportunities </b>
              <br>
              <%= @program.scholarship %>$ </h3>
            </div>

          </div>
        </div>

        <%= @program.university.location %>
        <%= @program.university.description %>
        <%= @program.university.website %>
        <%= @program.university.phone_number %>
        <%= @program.university.contact %>



        <div class="container">
          <div class="row">

            <div class="col-xs-5 col-xs-offset-5">
             <% if params[:flash] %>
             <div style="height: 40px; background-color: grey">
              <%= params[:flash] %>
            </div>
            <% else %>


            <%= link_to "Favourite", program_path(@program, :flash => "Marked as favourite!"), :data => {:confirm => 'Are you sure you want to mark this program as favourite?'}, :class => "fa fa-heart" %>

            <% end %>


          </div>

          <div class="col-xs-5 col-xs-offset-5">
            <% @user = current_user %>

            <%= link_to " My Favourites", user_profile_path(@user), :class => "fa fa-flag" %>

          </div>
        </div>
      </div>

  <h2>
          <%= pluralize @program.reviews.size, "review" %>
        </h2>

        <div id="reviews" class="text-box">
          <% if @program.reviews.blank? %>
          Be the first to leave a review for <%= @program.title %>
          <% else %>
          <% @program.reviews.each do |review| %>
          <%= render 'reviews/show', review: review %>
          <% end %>
          <% end %>
          <%= render 'reviews/form', program: @program, review: @review %>
        </div>
</div>

