<style>
.cardF {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 150px;
  border-radius: 2px;
}
.card-userF {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-categoryF {
position: absolute;
    top: 10px;
    left: 650px;
    font-size: 14px;
    text-transform: uppercase;
}
.card-descriptionF {
  position: absolute;
  bottom: 4px;
  left: 29px;
  text-align: justify;

}
.card-descriptionF h2 {
  font-size: 24px;
}
.card-descriptionF p {
  font-size: 13px;
}
.card-linkF {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-linkF:hover {
  opacity: 0.1;
}



</style>

<!-- card first trial -->
<% applications.each_with_index do |application, index| %>
<div class="cardF" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path application.program.university.photos.first.path %>'); margin-bottom: 20px; background-position: center;">
  <div class="card-categoryF">You saved the program <b><%= application.program.title %></b></div>
  <div class="card-descriptionF">
    <h2><b>At </b><%= application.program.university.name %></h2>
    <p><b>Address: </b><%= application.program.university.location %></p>
    <p><b>On </b><%= application.created_at%></p>

  </div>
  <a class="card-linkF" href="#" ></a>
</div>
<% end %>


