<div id="myCarousel<%= number %>" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% applications.each_with_index do |application, index| %>
    <% if index.zero? %>
    <li data-target="#myCarousel" data-slide-to="<%= index %>" class="active"></li>
    <% else %>
    <li data-target="#myCarousel" data-slide-to="<%= index %>"></li>
    <% end %>
    <% end %>
  </ol>
  <!-- Wrapper for slides -->

  <div class="carousel-inner" style="height: 70vh; margin-top: 30px; margin-bottom: 50px; background-position: center;  position: relative">
    <% applications.each_with_index do |application, index| %>
    <div class="item <%= "active" if index.zero? %>" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
      url('<%= cl_image_path application.program.university.photos.first.path, width: 1160, height: 730 %>'); height: 70vh; background-size: cover; background-position: center center; ">
      <!-- ADD program.university.images -->
      <div class="carousel-caption" style="bottom: 235px; position: absolute; top: 10px; left: 10px">
        <div class="program-title">
          <h3>You applied to the program <b><%= application.program.title %></b></h3>
        </div>
        <div class="program-university">
          <h4><b>At </b><%= application.program.university.name %></h4>
        </div>
        <div class="program-creation">
          <p><b>On </b><%= application.created_at%></p>
        </div>
        <div class="program-university-location">
          <p><b>Address: </b><%= application.program.university.location %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel<%= number %>" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel<%= number %>" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
