<style>
  .tabs {
  background: #53443F;
  display: flex;
  padding: 10px 10px 0 10px
}
.tabs a {
  color: white;
}
.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}
.tabs h3 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  background: #756A66;
  flex: 0 0 25%;
  text-align: center;
  padding: 20px 0;
}
.tab:first-child {
  border-radius: 10px 0 0 0;
}
.tab:last-child {
  border-radius: 0 10px 0 0;
}
.tab.active {
  background: white;
  color: black;
}
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}

/* Style each tab content individually */
#London {background-color:red;}
#Paris {background-color:green;}
#Tokyo {background-color:blue;}
#Oslo {background-color:orange;}
</style>
<h1>FAVOURITES</h1>
<% @favourites.each do |f| %>
<%= f.title  %>

<%end  %>

<h1>APPLICATIONS</h1>

<% @applications.each do |p| %>
<%= p.program.title %>
<% end %>

<div class="tabs">
  <a class="tab active" href="#">
    <h3><%= @applications.count %></h3>
    <p>Applications</p>
  </a>
    <a class="tab" href="#">
    <h3><%= current_user.email%></h3>
    <p>My Profile</p>
  </a>
  <a class="tab" href="#">
    <h3><%= @favourites.count %></h3>
    <p>Favourites</p>
  </a>

</div>

<div id="London" class="tabcontent">
  <h3>London</h3>
  <p>London is the capital city of England.</p>
</div>

<div id="Paris" class="tabcontent">
  <h3>Paris</h3>
  <p>Paris is the capital of France.</p>
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>

<div id="Oslo" class="tabcontent">
  <h3>Oslo</h3>
  <p>Oslo is the capital of Norway.</p>
</div>

<button class="tablink" onclick="openCity('London', this, 'red')" id="defaultOpen">London</button>
<button class="tablink" onclick="openCity('Paris', this, 'green')">Paris</button>
<button class="tablink" onclick="openCity('Tokyo', this, 'blue')">Tokyo</button>
<button class="tablink" onclick="openCity('Oslo', this, 'orange')">Oslo</button>
