<style>
  .tabs {
    display: flex;
    margin-top: 96px;
    justify-content: space-around;
    background-color: #D8DFE2;
  }
  .tabs a {
    color: white;
  }
  .tabs a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: 0.8;
  }
  .tabs h3 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 0;
  }
  .tabs p {
    opacity: 0.5;
    margin-bottom: 0;
  }
  .tab {
    background: #D8DFE2;
    flex: 0 0 25%;
    text-align: center;
    padding: 10px 0;
  }



  .tab:first-child {
    border-radius: 10px 10px 10px 10px;
  }
  .tab:last-child {
    border-radius: 10px 10px 10px 10px;
  }
  .tab.active {
    background: white;
    color: black;
  }
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }

  .caroussel-inner {
    position: relative;
  }

  .program-title{
    position: absolute;
    right: 5px;
    top: 70px;
  }

  .program-university{
    position: absolute;
    right: 70px;
    top: 130px;
  }

  .program-university-location{
    position: absolute;
    right: 70px;
    top: 200px;
  }

  .program-creation{
    position: absolute;
    right:70px;
    top: 300px;

  }
</style>
<div class="tabs">
  <a class="tab active" data-target="#1">
    <h3><%= @applications.count %></h3>
    <p>Applications</p>
  </a>
  <a class="tab" data-target="#2">
    <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
    <%= image_tag avatar_url %>
    <p>My Profile</p>
  </a>
  <a class="tab" data-target="#3">
    <h3><%= @favourites.count %></h3>
    <p>Favourites</p>
  </a>
</div>

<div class="container container-profile text-center">
  <div class="tab-content" id="1">
    <%= render partial: "carroussel_applications", locals: { applications: @applications, number: 1 } %>
  </div>
  <div class="tab-content hidden" id="2">
    <h2>my profile</h2>
  </div>
  <div class="tab-content hidden" id="3">
    <%= render partial: "carroussel", locals: { favourites: @favourites, number: 2 } %>
  </div>
</div>




