

<!-- Cloudinary -->



<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cloudinary_url("students-working-on-project_4460x4460_dbevuc.jpg", width:1200 , crop: :fill) %>'); background-repeat: no-repeat; background-position: center center; background-size: cover;">

  <div class="banner-content">
    <h1>Yooni</h1>
    <h2>get matched with best Universities</h2>
    <ul></ul>
    <p>Search by school name, subject, level, and other keywords: </p>



    <div class="search-box">


      <%= form_tag('/search', method: 'get') do  %>
      <%= text_field_tag :search_value, "", class: 'search-input-field', id: "search-field" %>
      <%= submit_tag 'search', class: "commit commit:hover" %>

      <% end  %>

    </div>
    <ul></ul>
    <ul></ul>


    <p>not sure where to start?</p>







    <!-- Trigger the modal with a button -->
    <button type="button" id="modal-button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Get Matched</button>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Use our 3-Step College Match Tool</h4>
          </div>
          <div class="modal-body">
            <div class="modal-search-questions">
              <%= form_tag('/search', method: 'get') do  %>
              <div>
                <label for="subject">What is your Topic?
                  <%= text_field_tag :subject, placeholder = "subject" %>
                </label>
              </div>
              <div>
                <label for="level">What is your Level?
                  <%= text_field_tag :level %>
                </label>
              </div>
              <div>

                <label for="location">What is your location?

                </label>
                <div>

                  <%= text_field_tag :location %>
                </div>
              </div>



              <%= text_field_tag :tuition%>
              <%= submit_tag 'search', class: "commit commit:hover" %>

              <% end  %>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</div>
</div>
</div>

<h1 class="text-center"> Featured Universities </h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="card card-home" style="background-image: url('<%= cloudinary_url("boocccccni_wdqw7b.jpg") %>'); background-position: center">
        <div class="card-category">Università Bocconi
        </div>


        <img class="card-user avatar" src="<%= cl_image_path("Bocconi_logo_hqgotl.jpg")%>" alt="ciaociao">

      </div>

    </div>
    <!-- insert <div class="card"> -->


    <div class="col-xs-12 col-sm-6">
      <div class="card card-home" style="background-image: url('<%= cloudinary_url("FREIE_CAMPUS_gbqkbv.jpg") %>'); background-position: center">
        <div class="card-category"><b>Freie Universität Berlin</b></div>
        <img class="card-user avatar" src="<%= cl_image_path("FREIEEEE_xbnswd.jpg")%>" alt="ciaociao">

        <!-- insert <div class="card"> -->
      </div>
    </div>
  </div>

  <div class="row">


    <div class="col-xs-12 col-sm-6">
      <div class="card card-home" style="background-image: url('<%= cloudinary_url("uni_of_amsterd_zoxqb1.jpg") %>'); background-position: center">
        <div class="card-category">University of Amsterdam</div>
        <img class="card-user avatar" src="<%= cl_image_path("AMSSS_pulqjs.jpg")%>" alt="ciaociao">

        <!-- insert <div class="card"> -->
      </div>
    </div>

    <div class="col-xs-12 col-sm-6">
      <div class="card card-home" style="background-image: url('<%= cloudinary_url("HEC_Paris_Campus_dhjzdc.jpg") %>'); background-position: center">
        <div class="card-category">HEC Paris</div>
        <img class="card-user avatar card-hec" src="<%= cl_image_path("HEC_FINAL_LOGO_de8pyr.jpg")%>" alt="ciaociao">


        <!-- insert <div class="card"> -->
      </div>
    </div>

  </div>
</div>

<h1 class="text-center"> How it works </h1>
<div class="container">
  <div class="row">

      <div class="text-center col-xs-12 col-sm-6 col-md-4">
      <i class="fa fa-search" aria-hidden="true" style="font-size: 80px; color: green; margin-bottom: 50px; margin-top: 20px;"></i>
       <p>Yooni databases includes over 10,000 accredited Schools and Programs, and over 1,000 Scholarships. Use our search tools to find the school, program, or scholarship that’s right for you. You can focus your search on the categories important to you</p>

      </div>



        <div class="text-center col-xs-12 col-sm-6 col-md-4">
        <i class="fa fa-clock-o" aria-hidden="true" style="font-size: 80px; color: green; margin-bottom: 50px; margin-top: 20px;"></i>

          <p> Yooni databases includes over 10,000 accredited Schools and Programs, and over 1,000 Scholarships. Use our search tools to find the school, program, or scholarship that’s right for you. You can focus your search on the categories important to yo</p>
        </div>



          <div class="text-center col-xs-12 col-sm-6 col-md-4">
          <i class="fa fa-bookmark" aria-hidden="true" style="font-size: 80px; color: green; margin-bottom: 50px; margin-top: 20px;"></i>

             <p> Yooni databases includes over 10,000 accredited Schools and Programs, and over 1,000 Scholarships. Use our search tools to find the school, program, or scholarship that’s right for you. You can focus your search on the categories important to yo</p>
          </div>





      </div>
    </div>





