<div>
<%= uni.name %></div>
<div>
<% if uni.name == "University of Bologna" %>

<%= cl_image_tag("Bologan_Uni_logo_skwu4m",
width: 100, height: 100) %>

<% elsif uni.name == "Università Bocconi" %>


<%= cl_image_tag("Bocconi_logo_hqgotl",
width: 100, height: 100) %>

<% elsif uni.name == "Edhec Business School" %>

<%= cl_image_tag("logo-edhec_jr1cvj",
width: 100, height: 100) %>

<% elsif uni.name == "University of Amsterdam" %>

<%= cl_image_tag("Uni_of_amsterdam_qouv4f",
width: 100, height: 100) %>

<% elsif uni.name == "ESADE Business School" %>


<%= cl_image_tag("ESADE_logo_mzfr1z",
width: 100, height: 100) %>

<% elsif uni.name == "HEC Paris" %>

<%= cl_image_tag("HEC_logo_kidrci",
width: 100, height: 100) %>

<% elsif uni.name == "Berlin" %>

<%= cl_image_tag("Berlin_uni_logo_qaeam3",
width: 100, height: 100) %>

<% elsif uni.name == "Imperial College London" %>

<%= cl_image_tag("imperial_logo_bbxawq",
width: 100, height: 100) %>


<% end %>

</div>







